{% extends 'Blog/base.html' %}


{% block title %}Sesión Finalizada{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h3 class="card-title">Sesión Finalizada</h3>
                </div>
                <div class="card-body">
                    <H4 class="text-center mt-3 mb-3">Tu sesión ha sido cerrada exitosamente.</H4>
                    <div class="text-center">
                        <a href="{% url 'login' %}" class="btn btn-secondary btn-lg mt-3">Iniciar Sesión Nuevamente</a>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-lg mt-3">Ir a la Página Principal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}