
body {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;}

.main-section {
    flex: 1;
    padding: 20px;}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    width: 30x;

}

/* Estilo de background para Card de home.html */
.body_card {
    background-color: #c5c5c5f5;
}

/* Estilo para el label del formulario en "form.py" */
label {
    font-weight: bold;
}